[MASTER]

ignore=tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring

[FORMAT]
#Rivin maksimipituus 80
max-line-length=80
[REFACTORING]
#Enintään 2 sisäkkäistä lohkoa per functio tai metodi
max-nested-blocks=2
[DESIGN]
max-args=4